sphinx==7.1.2
sphinx-press-theme
sphinxcontrib-bibtex # Bibliography
nbsphinx # Jupyter Notebook tools for Sphinx
plotly # 3D visualization
sphinx-gallery # Display the figures made with the plotly library